* {
	margin: 0;
	padding: 0;
}

.fondopagina {
	background-color: rgba(45, 221, 10, 0.17);
}

.encabezado, .menudecontenido  {
	background-color:rgba(169, 228, 189, 0.5);
	width: 80%;
	max-width: 1000;
	padding: 10px;
	margin: 20px auto;
	}

.encabezado {
	
	border-color: #0ebd17;
	border-width: 3px;
	border-style: solid;
}


#logotexto {

	display: flex;
	justify-content: center;
	align-items: center;
}

.imagen {
	padding: 10px;
}


#TITULOPRINCIPAL{
	text-align: center;
}

.E {
	 	color:#249ec4;
	font-family: Monotype Corsiva;
}

 .PRO {
 	color:#249ec4;

 }
.MENUDEOPCIONES {
	background-color: #249ec4;
	overflow: hidden;
}
#opcion {
 background-color: #249ec4;
	list-style: none;
	float:right;
}
#enlaces{
	padding: 10px 20px;
    display: block;
    color: white;   
    text-decoration: none;
}
#opcion:hover{
	background-color: red;
	transition: backgraund-color 2s ;
}
   
